.home-page-header {
  background-color: rgb(255, 255, 255);
  cursor: default;
  top: 0px;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  height: rem(60px);
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
  }

  .home-page-user-btns {
    display: flex;
  }

  .home-page-home-btn {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-inline-start: 1rem;
    font-size: rem(27px);
    margin-top: 0.2rem;

    img {
      width: rem(22px);
      margin-inline-end: 0.5rem;
    }
  }

  .login-page-btn {
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    color: rgb(23, 43, 77);
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }

  .signup-page-btn {
    background-color: rgb(0, 101, 255);
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    padding: 1.2rem 2rem 1rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgb(7, 71, 166);
      color: rgb(255, 255, 255);
    }
  }
}